<!DOCTYPE html>
<html>
    <head>
        <title>nodejs threejs integration demo</title>
        <type="text/css" href="/static/game-ui.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
