<!DOCTYPE html>
<html>
    <head>
        <title>nodejs threejs integration demo</title>
        <link rel="stylesheet" type = "text/css" href="/static/public/css/game-ui.css" />
    </head>
    <body>
        {{{body}}}
    </body>
</html>
