<!DOCTYPE html>
<html>
    <head>
        <title>nodejs threejs integration demo</title>
        <link rel="stylesheet" href="static/pubilc/css/game-ui.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
